img{
    width: 25vw;
    height: 40vh;
    object-fit: cover;
}

body{
    width: 99%;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(38, 34, 34);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.para{
    color: rgb(241, 75, 75);
}
#welcome-section{
    height: 100vh;
}
#navbar{ 
    display: flex;
    justify-content: right;
    background-color: rgb(241, 75, 75);
    position: fixed;
    width: 100%;
    top: 0;
}
.intro{
    padding-top: 15rem;
}
.navelement{
    display: inline-block;
    padding: 1rem;
}
.navelement a:hover{
    background-color: rgb(53, 53, 110); 
}
#projects{
    background-color: rgb(57, 57, 126);
    padding-top: 2.5rem;
}

.grid{
    /* padding-left: 10rem;
    padding-right: 10rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
} 

@media(max-width: 960px) and (min-width: 376px){
    .grid{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 60vw;
        height: 45vh;
        object-fit: cover;
    }
}
 @media(max-width: 376px){
    img{
        width: 70vw;
        height: 30vh;
        object-fit: cover;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
} 
