body{
    text-align: center;
    font-size: 2rem;
}
a{
    text-decoration: none;
}
#welcome-section{
    height: 100vh;
}
#navbar{
    display: flex;
    justify-content: right;
}
.navelement{
    padding: 1rem;

}